/* https://coolors.co/d7dedc-cfcfcd-9a879d-7a3b69-563440 */

body {
  background-color: #d7dfdc;
  font-size: 20px;
}

#header {
  position: fixed; 
  border-bottom: 1px solid #563440;
  background: #cfcfcd;
  top: 0; 
  left: 0; 
  z-index: 2000; 
  width: 100%;
}

#footer {
  font: 12px Varela Round;
  position: fixed;
  border-top: 1px solid #563440;
  background: #cfcfcd;
  padding: 10px 20px; 
  bottom: 0;
  left: 0;
  z-index: 2000; 
  width: 100%;
}

#headercontents {
  padding: 10px 20px;
  font-family: Varela Round;
  display: flex;
  justify-content: space-between;
}

#contents {
  margin-top: 100px;
}

.errormsg {
  color: red;
  font-family: Varela Round;
  font-size: 12px;
}

#login {
  height: 100%;
  margin-top: 5px;
}

.btn {
  border-radius: 28px;
  font-family: Varela Round;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.circled {
  border-radius: 50%;
  border: 8px solid #7a3b69;
  text-align: center;
}

#smallts {
  height: 24px;
  padding: 8px;
  font: 24px Varela Round;
  font-weight: bold;
}
