---
---

@import "{{ site.theme }}";

.center {
  text-align: center;
}

// https://stackoverflow.com/questions/211383/what-methods-of-clearfix-can-i-use
.container::after {
  content: "";
  display: block;
  clear: both;
}

.menubutton {
  background-color: #3a7dc2;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
