---
---

@import "{{ site.theme }}";

.center {
  text-align: center;
}

// https://stackoverflow.com/questions/211383/what-methods-of-clearfix-can-i-use
.container::after {
  content: "";
  display: block;
  clear: both;
}
